.App{
    text-align: center;
    align-items: center;
}
.GetList{
    text-align: center;
    align-items: center;
    margin: 10px;
}
.GetList li{
    display: inline-block;
    margin: 5px;
}
button{
    border-radius: 2px;
    color: rgb(123, 112, 112);
    background-color: aqua;
    
}
button:hover{
    border-radius: 5px;
    color: rgb(14, 11, 11);
    background-color: rgb(149, 226, 226);
}